<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="AutomationSuite">
    <test name="AllTests">
        <classes>
            <class name="tests.BuyOrderFunctionality"/>
            <class name="tests.ClickFirstMenuLinkAndPrintPageTitle"/>
            <class name="tests.CorrectTotalPrice"/>
            <class name="tests.UserRegistrationProcess"/>
            <class name="tests.VerifyErrorMessagesForMandatoryFields"/>
            <class name ="tests.VerifyInvalidEmailAddressError"/>
            <class name ="tests.WishListWorksAfterLogin"/>
            <!-- Add more classes here as needed -->
        </classes>
    </test>
</suite>

